; example configuration for mplugd
;
; either place this file in the mplugd.py folder, into
: ~/.mplugd/ or into /etc/mplugd/

;;; include the action.d example directory of a local installation
; action_directory+=examples/action.d/
